body {
    background-color: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 2em;
  }
  
  .banner {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  }
  nav a {
  color: #8ef3fa;
  text-decoration: none;
  font-weight: bold;
  }

nav a:hover {
  text-decoration: underline;
}


  h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
  }

  .bio {
    max-width: 600px;
    margin: 0 auto 2em;
    font-size: 1.1em;
    color: #ccc;
  }
  
  audio {
    margin: 1em 0;
  }
  
  .links a {
    display: inline-block;
    margin: 0.5em 1em;
    color: #00ccff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .links a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  section {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid #444;
}




  section h2 {
  color: #00ccff;
  margin-bottom: 0.5em;
}

.bio-section p,
.contact p {
  color: #ccc;
  max-width: 600px;
  margin: 0 auto;
}

section h3 {
  color: #8ef3fa;
  margin-bottom: 0.5em;
}

section li {
  color: #ccc;
  margin-bottom: 0.5em;
}
/* Galería */
.gallery-grid {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 1em;
}

.gallery-grid img {
  width: 200px;
  height: auto;
  border: 2px solid #444;
  border-radius: 4px;
}

/* Contacto */
.contact a {
  display: inline-block;
  margin-top: 0.5em;
  color: #00ccff;
  font-weight: bold;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* animaciones*/

/* ANIMACIONES */

/* Fade-in para secciones */
section {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease forwards;
}

/* Diferentes delays para que no aparezcan todas de golpe */
.bio-section {
  animation-delay: 0.5s;
}

.gallery {
  animation-delay: 1s;
}

.contact {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación hover en la galería */
.gallery-grid img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00ccff;
}


  